.sidebar_container {
    width: 255px;
    height: 529px;
    margin: 0 15px;
    
}
.sidebar_header {
    color: white;
    height: 137px;
    border-radius: 15px;
    background: url('../../assets/suggestions/desktop/background-header.png');
    display: flex;
    flex-direction: column;
    position: relative;
}
.header_content {
    position: absolute;
    bottom: 0;
    padding: 15px;
}
.sidebar_main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    margin: 15px 0 15px 0;
    padding: 10px;
    height: 137px;
    background-color: white;
    border-radius: 15px;
}
.sidebar_bottom {
    height: 137px;
    background-color: white;
    border-radius: 15px;
    padding: 15px 25px;
}
.sidebar_bottom_header {
    display: flex;
    justify-content: space-between;
}
.sidebar_bottom_list {
    fmargin-left: 20px;
}
ul {
    list-style: none;
  }
ul li::before {
    content: "•";
    font-size: 25px;
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1rem;
    margin-left: -1rem;
  }